<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" type="text/css" href="../static/css/styles.css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav>
        <div class="container">
          <h1>WATAN AMAZON</h1>
    
          <div class="menu">
            <a href="/">Home</a>
            <a href="#">Categories</a>
            <a href="#">Contact</a>
            <a href="/cart" class="is-active">Cart</a>
          </div>
    
          <button class="hamburger">
            <span></span>
            <span></span>
            <span></span>
          </button>
        </div>
      </nav>
       
      
        
      <center><p style="padding-top: 150px; font-size: 30px">YOur Caaaaarrrrrrtttttttt</p></center>
      <div>
        <img id="product"src="https://images.unsplash.com/photo-1526947425960-945c6e72858f?crop=entropy&cs=tinysrgb&fm=jpg&ixid=MnwzMjM4NDZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE2NTgzODM0NDU&ixlib=rb-1.2.1&q=80" alt="Product image" width="500px" height="400px"/>
        <h2 style="padding-left: 1000px; font-size: 34px;">Watan Perfect Roblox Fortnite Soap</h2>
        <h4 style="padding-left: 1000px;"> 149.90 sheckels</h4>
              <br/>
              <a href="/cart"><button style=" margin-left: 1000px;"" href="#" class="butt">Confirm</button></a>
        </div>

   
</body>
</html>