<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="../static/css/styles.css" />
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>

    <nav>
      <div class="container">
        <h1>WATAN AMAZON</h1>
  
        <div class="menu">
          <a href="#" class="is-active">Home</a>
          <a href="#">Categories</a>
          <a href="#">Contact</a>
          <a href="#">Cart</a>
        </div>
  
        <button class="hamburger">
          <span></span>
          <span></span>
          <span></span>
        </button>
      </div>
    </nav>

    <!--acnvjinawvinawefjiwenwebnefjknawefbwefvbnwejkcwejicf bwefvinhwervuhcv;jwbvjhlwerbvwe-->

    <div class="flex flex-col justify-center items-center min-h-screen bg-gray-50">

        <h2 class="text-2xl font-bold mb-6">Watan Perfect Roblox Fortnite Soap</h2>
        
        <!-- E-commerce Product Card / start ( Copy the code below ) -->
        <div class="w-72 bg-white shadow-md duration-500 hover:scale-105 hover:shadow-xl">
          <a href="/product">
            <img src="https://images.unsplash.com/photo-1526947425960-945c6e72858f?crop=entropy&cs=tinysrgb&fm=jpg&ixid=MnwzMjM4NDZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE2NTgzODM0NDU&ixlib=rb-1.2.1&q=80" alt="Product image" class="h-80 w-72 object-cover" />
            <div class="px-4 py-3 w-72">
              <span class="text-gray-400 mr-3 uppercase text-xs">Watan Production</span>
              <p class="text-lg font-bold text-black truncate block capitalize"Soap</p>
              <div class="flex items-center">
                <p class="text-lg font-semibold text-black cursor-auto my-3">₪149</p>
                <del>
                  <p class="text-sm text-gray-600 cursor-auto ml-2">₪199</p>
                </del>
                <div class="ml-auto"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-bag-plus" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M8 7.5a.5.5 0 0 1 .5.5v1.5H10a.5.5 0 0 1 0 1H8.5V12a.5.5 0 0 1-1 0v-1.5H6a.5.5 0 0 1 0-1h1.5V8a.5.5 0 0 1 .5-.5z" />
                    <path d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1zm3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5zM2 5h12v9a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V5z" />
                  </svg></div>
              </div>
            </div>
          </a>
        </div>
        <!-- E-commerce Product Card / end -->

      
      </div>
      
      <script src="https://storage.ko-fi.com/cdn/scripts/overlay-widget.js"></script>
    

</body>
      