<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" type="text/css" href="../static/css/styles.css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav>
        <div class="container">
          <h1>WATAN AMAZON</h1>
    
          <div class="menu">
            <a href="/">Home</a>
            <a href="#">Categories</a>
            <a href="#">Contact</a>
            <a href="/cart"></a>Cart</a>
          </div>
    
          <button class="hamburger">
            <span></span>
            <span></span>
            <span></span>
          </button>
        </div>
      </nav>


    <div>
    <img id="product"src="https://images.unsplash.com/photo-1526947425960-945c6e72858f?crop=entropy&cs=tinysrgb&fm=jpg&ixid=MnwzMjM4NDZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE2NTgzODM0NDU&ixlib=rb-1.2.1&q=80" alt="Product image" width="500px" height="400px"/>
    <h2 style="padding-left: 1000px; font-size: 34px;">Watan Perfect Roblox Fortnite Soap</h2>
    <h4 style="padding-left: 1000px;"> it is a great soap do you know why? because it is jusst simply
         great it can clean your hands from anything and it works like magis so why not buy it and make your life more clea
         n and healthy i mean who does nto want to like for real everyone wants clean hands and this soap just doe
          it so why not buy it hah tell me , buy it yzm</h4>
          <br/>
          <a href="/cart"><button style=" margin-left: 1000px;"" href="/cart" class="butt">Buy Now!!</button></a>
    </div>
</body>
</html>